html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh !important;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.md {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.preview {
  padding-left: 4%;
  padding-right: 4%;
  background-color: rgb(33, 35, 41);
  color: rgb(233, 233, 233);
  width: 50%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.CodeMirror {
  height: 100vh !important;
}

.editor-area {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}

h1 {
  color: #5944d1;
}

a {
  font-style: normal;
  text-decoration: none;
  color: #d64d9d;
}

code {
  font-family: "Courier New", Courier, monospace;
  color: olivedrab;
  padding: 4%;
}

li {
  color: cadetblue;
}

button {
  position: fixed;
  top: 2%;
  right: 3%;
  background-color: cornflowerblue;
  width: auto;
  border-radius: 30px;
  padding: 1%;
  height: auto;
  border: none;
}

.Fileinput {
  position: fixed;
  top: 10%;
  right: 2%;
  width: auto;
  height: auto;
  padding: 1%;
  content: none;
  z-index: 1;
  opacity: 0;
  display: hidden;
  background-color: cornflowerblue;
}

.FakeFileInput {
  position: fixed;
  top: 10%;
  right: 3%;
  width: auto;
  height: auto;
  padding: 1%;
  border-radius: 50px;
  content: none;
  z-index: 0;
  display: hidden;
  background-color: cornflowerblue;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #23262b;
  height: 8vh;
}

.Navbar .Title-Logo {
  color: #d64d9d;
}

.Navbar .Links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Navbar .Links ul {
  list-style-type: none;
}

.Navbar .Links li a {
  color: coral;
}
